<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if block("title") is defined %}{{ block("title") }} - WormRP{% else %}WormRP{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="/css/wormrp.css"/>
    <meta property="og:site_name" content="wormrp.com"/>
    <meta property="og:title"
          content="{% if block("title") is defined %}{{ block("title") }}{% else %}WormRP{% endif %}"/>
    {% if block("description") is defined %}
        <meta property="og:description" content="{{ block("description") }}"/>
    {% endif %}
    <meta property="og:image" content="/logo.png"/>
    <meta name="theme-color" content="#ffbe47"/>
</head>

<body>
{% block header %}
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/img/logo.png"/>
                    <span style="padding-left: 0.5em;">WormRP</span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/characters">Characters</a>
                    <a class="navbar-item" href="/threads">Threads</a>
                    <a class="navbar-item" href="https://discord.gg/KjYAwes" target="_blank">Discord</a>
                    <a class="navbar-item" href="https://wiki.wormrp.com" target="_blank">Wiki</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block contentOuter %}
    <div class="container">
        {% if breadcrumb is defined %}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% for a, text in breadcrumb %}
                        <li><a href="{{ a }}">{{ text }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

        {% block content %}{% endblock content %}
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        <footer class="footer">
            <div class="content has-text-centered">
                <p>Copyright © 2015-{{ "now"|date("Y") }} WormRP contributors. Content is available under
                    <a rel="nofollow" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
                    unless otherwise noted.</p>
                <p><a href="https://maidtech.net/" target="_blank">Offset hosting costs</a></p>
            </div>
        </footer>
    </div>
{% endblock %}
</body>
</html>
