<tr>
    <td>
        {% if user.idUser == item.idAuthor %}
            <a href="{{ item.link }}">{{ item.name }}</a>
        {% else %}
            <a href="https://wiki.wormrp.com/wiki/{{ item.name|replace({" ": "_"}) }}">{{ item.name }}</a>
        {% endif %}

    </td>
    <td>{{ include('userAvInline.twig', {user: item.author}) }}</td>
    <td>
        {% if item.status == constant("CHAR_PENDING", item) %}
            Pending
        {% elseif item.status == constant("CHAR_REVIEW", item) %}
            In review
        {% elseif item.status == constant("CHAR_EDITS", item) %}
            Pending edits
        {% elseif item.status == constant("CHAR_APPROVED", item) %}
            Approved
        {% elseif item.status == constant("CHAR_REJECTED", item) %}
            Rejected
        {% endif %}
    </td>
    <td class="nowrap">
        <span title="{{ item.dateCreated.toCookieString() }}">{{ item.dateCreated.diffForHumans() }}</span>
    </td>
</tr>
