{% extends "base.twig" %}

{% block title %}Approval Queue - WormRP{% endblock title %}

{% block content %}

    <h1>WormRP Approval Queue</h1>
    <table class="sortable">
        <thead>
        <tr>
            <th class="nowrap">Submission Time</th>
            <th class="nowrap">Title</th>
            <th class="nowrap">Type</th>
            <th class="nowrap">Status</th>
            <th class="nowrap">Author</th>
            <th class="nowrap">Approver</th>
        </tr>
        </thead>
        <tbody>
        {% for item in queue %}
            <tr class="{{ item.getStateClass() }}">
                <td class="nowrap" data-sort="{{ item.postTime.timestamp }}">{{ item.postTime.toFormattedDateString() }}
                    <br /><small><em>{{ item.postTime.longRelativeDiffForHumans(2) }}</em></small></td>
                <td><a href="{{ item.url }}">{{ item.title }}</a></td>
                <td>{{ item.flair }}</td>
                <td class="nowrap"
                    data-sort="{% if item.getState() == constant("STATE_APPROVED", item) %}{{ item.approvalTime.timestamp }}{% elseif item.getState() == constant("STATE_CLAIMED", item) %}{{ item.claimTime.timestamp }}{% else %}{{ constant("PHP_INT_MAX") }}{% endif %}">
                    {% if item.getState() == constant("STATE_APPROVED", item) %}Completed {{ item.approvalTime.toFormattedDateString() }}
                        <br /><small><em>{{ item.approvalTime.longRelativeDiffForHumans(2) }}</em></small>
                    {% elseif item.getState() == constant("STATE_CLAIMED", item) %}Claimed {{ item.claimTime.toFormattedDateString() }}
                        <br />
                        <small><em>{{ item.claimTime.longRelativeDiffForHumans(2) }}</em></small>
                    {% else %}Pending approval
                    {% endif %}
                </td>
                <td><a href="https://www.reddit.com/user/{{ item.author }}">/u/{{ item.author }}</a></td>
                <td class="nowrap"
                    data-sort="{% if item.idApprover1 %}/u/{{ item.getRedditNameFromDiscord(item.idApprover1) }}{% else %}Unclaimed{% endif %}">
                    {% if item.idApprover1 %}/u/{{ item.getRedditNameFromDiscord(item.idApprover1) }}{% else %}Unclaimed{% endif %}
                    {% include 'postref.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if session.isStaff %}
        <h2>Manually add an item</h2>
        <form method="post" action="/reports/queue/add">
            <label>
                <input name="url" type="url" placeholder="Reddit URL" />
            </label>
            <input type="submit" />

        </form>
    {% endif %}

{% endblock %}
