<tr>
    <td>
        <span class="tag">{{ item.tag }}</span>
        <a href="/thread/{{ item.idThread }}">{{ item.title }}</a>
    </td>
    <td>{{ include('userAvInline.twig', {user: item.creator}) }}</td>
    <td>{{ item.getPostCount() }}</td>
    <td class="nowrap">
        <span title="{{ item.dateCreated.toCookieString() }}">{{ item.dateCreated.diffForHumans() }}</span>
    </td>
    <td class="nowrap">
        {% if item.posts|length > 0 %}
            <span title="{{ item.getLastReplyTime().toCookieString() }}">{{ item.getLastReplyTime().diffForHumans() }}</span>
        {% endif %}
    </td>
</tr>
