{% extends "base.twig" %}

{% block title %}{{ thread.title }}{% endblock title %}

{% block content %}
    {% if user and user.idUser == thread.creator.idUser %}
        <div class="box">
            <form method="post" action="/thread/{{ thread.idThread }}/edit">
                <input type="hidden" name="csrf" value="{{ csrf }}">

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="title">Title</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="title" id="title" value="{{ thread.title }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="tag">Tag</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="tag" id="tag">
                                        {% for x in allowed_tags %}
                                            {% if thread.tag == x %}
                                                <option selected="selected">{{ x }}</option>
                                            {% else %}
                                                <option>{{ x }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="button is-primary" type="submit" value="Edit thread">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="box" id="top">
        <div class="field">Created by {{ include('userAvInline.twig', {user: thread.creator}) }}
            on {{ thread.dateCreated.toCookieString() }}</div>
        {% if user and user.idUser == thread.creator.idUser %}
            <!--
            <div class="field">
                <a class="button is-danger" href="/thread/{{ thread.idThread }}/close">Lock Thread</a>
            </div>
            -->
        {% endif %}

        {% if user and thread.isOpen %}
            <p class="title is-4">Create a new post chain</p>
            {{ include('thread.comment.twig') }}
        {% endif %}
    </div>

    {% for p in thread.posts %}
        {% if p.parent == false %}
            <div class="box">
                <div class="is-size-7 pb-1">
                    <a href="#top">Go to top</a>
                </div>
                {{ include('thread.viewreply.twig', {post: p}) }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}