{% extends "base.twig" %}

{% block title %}Wiki Audit{% endblock title %}

{% block content %}

    <h1>Wiki Character Audit</h1>
    <h2>Active capes with inactive users</h2>
    <p><em>Players who have active capes on the wiki, however they have not posted in over two weeks on the sub. If
            their capes should be put on the backburner, consider changing them to <code>|status=NPC</code> or another
            valid value.</em></p>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Capes</th>
        </tr>
        </thead>
        <tbody>
        {% if inactiveUsers.count() > 0 %}
            {% for x in inactiveUsers %}
                <tr>
                    <td><a href="{{ x.v.redditLink }}">{{ x.v.redditName }}</a>
                        <small>({{ x.v.lastSubActivity.longAbsoluteDiffForHumans(2) }})</small></td>
                    <td>{{ x.capes|raw }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2"><em>There are no results for this query.</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <h2>Active capes with missing users</h2>
    <p><em>The author tag on the wiki cannot be found in Huntress's user list. Most likely this is due to a user's
            account not yet being linked, which can be done with the Huntress command
            <code>!linkAccount redditName discordName</code> (use "quotes" or @mentions for the discord name if there's
            a space in their discord name). Note that for technical reasons, this list does not include
            capes of users who were active but have hence left the Discord.</em></p>
    <table>
        <thead>
        <tr>
            <th>Cape</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        {% if missingUsers.count() > 0 %}
            {% for x in missingUsers %}
                <tr>
                    <td><a href="{{ x.url }}">{{ x.name }}</a></td>
                    <td>{{ x.Author }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2"><em>There are no results for this query.</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <h2>Active capes missing reputation</h2>
    <p><em>The listed capes have no reputation values for Notoriety. Generally this is because they might be new, they
            will just need these values added.</em></p>
    <table>
        <thead>
        <tr>
            <th>Cape</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        {% if missingRep.count() > 0 %}
            {% for x in missingRep %}
                <tr>
                    <td><a href="{{ x.url }}">{{ x.name }}</a></td>
                    <td>{{ x.Author }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2"><em>There are no results for this query.</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <h2>Active capes missing classifications</h2>
    <p><em>The listed capes have no PRT response classifications. Generally this is looked at from an in-character
            perspective, so a complete unknown should have blank values here. However most capes should have at least a
            preliminary classification. This can be done by editing the <code>|class=</code> field.</em></p>
    <table>
        <thead>
        <tr>
            <th>Cape</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        {% if missingClass.count() > 0 %}
            {% for x in missingClass %}
                <tr>
                    <td><a href="{{ x.url }}">{{ x.name }}</a></td>
                    <td>{{ x.Author }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2"><em>There are no results for this query.</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <h2>Active capes not edited in the last 90 days</h2>
    <p><em>The following pages haven't been edited in the last 90 days. While this may not neccessarily be an issue,
            it's worth looking into to see if the page is outdated, or if this Active cape should perhaps be an NPC
            instead.</em></p>
    <table>
        <thead>
        <tr>
            <th>Cape</th>
            <th>Author</th>
            <th>Last Modification</th>
        </tr>
        </thead>
        <tbody>
        {% if staleWikiPages.count() > 0 %}
            {% for x in staleWikiPages %}
                <tr>
                    <td><a href="{{ x.url }}">{{ x.name }}</a></td>
                    <td>{{ x.Author }}</td>
                    <td>{{ attribute(x, 'Modification date').toDateString() }}
                        <small>({{ attribute(x, 'Modification date').longAbsoluteDiffForHumans(2) }})</small>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3"><em>There are no results for this query.</em></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
